<div class="content">
	<div>
		<div class="bottom-border">
			<h1 class="blue" style="margin-left:20px;">Our Client</h1>
		</div>
		<p style="margin-left:20px;">We have build relation and partnership during many years with many company to improve our business. Here are few list of our client.</p>
		<div class="w2" style="margin: auto;">
			<img src="img/client1-1.jpg" width="150px" style="margin-right:60px;"></img>
			<img src="img/client1-2.png" width="150px" style="margin-right:60px;"></img>
			<img src="img/client3.jpg" width="120px"></img>
			<img src="img/client2.jpg" width="150px" style="margin-right:60px;"></img>
			<img src="img/client4.png" width="150px" style="margin-right:60px;"></img>
			<img src="img/client5.jpg" width="150px"></img>
		</div>
	</div>
	<div class="client-list" style="margin-left:20px;">
		<p>For more detailed information about our client <button ng-click="content = !content">CLICK HERE</button></p>
		<table class="client-det" cellpadding=5 ng-show="content">
		  <tr>
			<th>Category</th>
			<th>Company</th>
			<th>Instance</th>
		  </tr>
		  <tr>
			<td rowspan="39" align="center">Sugar Factory</td>
		  <tr>
			<td rowspan="11">PT. Perkebunan Nusantara X</td>
			<td>1. PG. Modjopanggoong (Tulungagung)</td>
		  </tr>
		  <tr>
			<td>2. PG. Ngadiredjo (Kediri)</td>
		  </tr>
		  <tr>
			<td>3. PG. Pesantren Baru (Kediri)</td>
		  </tr>
		  <tr>
			<td>4. PG. Meritjan (Kediri)</td>
		  </tr>
		  <tr>
			<td>5. PG. Lestari (Kertosono)</td>
		  </tr>
		  <tr>
			<td>6. PG. Djombang Baru (Jombang)</td>
		  </tr>
		  <tr>
			<td>7. PG. Tjoekir (Jombang)</td>
		  </tr>
		  <tr>
			<td>8. PG. Gempolkrep (Mojokerto)</td>
		  </tr>
		  <tr>
			<td>9. PG. Watoetoelis (Sidoarjo)</td>
		  </tr>
		  <tr>
			<td>10. PG. Kremboong (Sidoarjo)</td>
		  </tr>
		  <tr>
			<td>11. PG. Toelangan (Sidoarjo)</td>
		  </tr>
		  <tr>
			<td rowspan="16">PT. Perkebunan Nusantara XI</td>
			<td>1. PG. Jatiroto + Pasa Jatiroto (Lumajang)</td>
		  </tr>
		  <tr>
			<td>2. PG. Semboro (Jember)</td>
		  </tr>
		  <tr>
			<td>3. PG. Gending (Probolinggo)</td>
		  </tr>
		  <tr>
			<td>4. PG. Padjarakan (Probolinggo)</td>
		  </tr>
		  <tr>
			<td>5. PG. Wonolangan (Probolinggo)</td>
		  </tr>
		  <tr>
			<td>6. PG. Assembagoes (Situbondo)</td>
		  </tr>
		  <tr>
			<td>7. PG. Wringinanom (Situbondo)</td>
		  </tr>
		  <tr>
			<td>8. PG. Olean (Situbondo)</td>
		  </tr>
		  <tr>
			<td>9. PG. Pandjie (Situbondo)</td>
		  </tr>
		  <tr>
			<td>10. PG. Pradjekan (Situbondo)</td>
		  </tr>
		  <tr>
			<td>11. PG. Kedawoeng (Pasuruan)</td>
		  </tr>
		  <tr>
			<td>12. PG. Redjosarie (Magetan)</td>
		  </tr>
		  <tr>
			<td>13. PG. Poerwodadie (Madiun)</td>
		  </tr>
		  <tr>
			<td>14. PG. Soedhono (Ngawi)</td>
		  </tr>
		  <tr>
			<td>15. PG. Pagottan (Madiun)</td>
		  </tr>
		  <tr>
			<td>16. PG. Kanigoro (Madiun)</td>
		  </tr>
		  <tr>
			<td rowspan="2">PT. Madu Baru</td>
			<td>1. PG. Madukismo (Bantul-Yogyakarta)</td>
		  </tr>
		  <tr>
			<td>2. PS. Madukismo (Bantul-Yogyakarta)</td>
		  </tr>
		  <tr>
			<td rowspan="2">PT. Kebon Agung</td>
			<td>1. PG. Trangkil (Pati)</td>
		  </tr>
		  <tr>
			<td>2. PG. Kebon Agung (Malang)</td>
		  </tr>
		  <tr>
			<td rowspan="3">PT. Rajawali Nusantara Indonesia I</td>
			<td>1. PG. Rejo Agung (Madiun)</td>
		  </tr>
		  <tr>
			<td>2. PG. Krebet Baru 1 (Malang)</td>
		  </tr>
		  <tr>
			<td>3. PG. Krebet Baru 2 (Malang)</td>
		  </tr>
		  <tr>
			<td>PT. Candri Baru</td>
			<td>PG. Candi Baru (Sidoarjo)</td>
		  </tr>
		  <tr>
			<td>PT. Rajawali Nusantara Indonesia II</td>
			<td>PG. Tersana Baru (Cirebon)</td>
		  </tr>
		  <tr>
			<td>PT. Industri Gula Nasional (IGN)</td>
			<td>PG. Cepiring (Jateng)</td>
		  </tr>
		  <tr>
			<td colspan="2">PG Mojo (Sragen)</td>
		  </tr>
		  <tr>
			<td rowspan="9" align="center">Shipping Industry</td>
			<td rowspan="5">PT. PAL Indonesia (Surabaya)</td>
			<td>1. Divisi Niaga</td>
		  </tr>
		  <tr>
			<td>2. Divisi Kapal Perang</td>
		  </tr>
		  <tr>
			<td>3. Divisi Harkan</td>
		  </tr>
		  <tr>
			<td>4. Divisi Listrik</td>
		  </tr>
		  <tr>
			<td>5. Divisi Proyek</td>
		  </tr>
		  <tr>
			<td rowspan="3">PT. Dok Perkapalan Indonesia (Surabaya)</td>
			<td>1. Divisi Outfitting</td>
		  </tr>
		  <tr>
			<td>2. Divisi Harkan</td>
		  </tr>
		  <tr>
			<td>3. Divisi Proyek</td>
		  </tr>
		  <tr>
			<td colspan="2">PT. Samudera Indonesia Line (Banten)</td>
		  </tr>
		  <tr>
			<td>Others</td>
			<td colspan="2">PT. Antekusuma Inti Raharja (Sidoarjo)</td>
		  </tr>
		</table>
	</div>
	</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>
