<div class="content">
	<div class="grid w1 h1">
		<div class="cc-container bottom-border">
			<div class="head">
				<div>
					<table>
						<tr>
							<td>Our Company</td>
						</tr>
						<tr>
							<td>VOLTABIO Products</td>
						</tr>
						<tr>
							<td>Our Best Services</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="grid w2 h1">
		<div class="video-container">
			<section class="video" ng-video>
				<video vi-screen autoplay loop></video>
			</section>
		</div>
	</div>
	<div class="grid full h3 bottom-border">
		<div class="slide w1">
			
		</div>
		<div class="desc w2">
			CV. Anugerah Jaya Semesta as Owner Rights Certificate Brand / Sole Agent with Certificate No. Brands IDM000138236. VOLTABIO Products is a company sectors in the field of chemical and maintenance coatings, experienced and have competence in the field of maintenance chemicals and coatings industry since 1997  with products that have been proven safe and friendly environment and staff - accompanied by expert staff and professional technicians.
		</div>
	</div>
	<div class="grid full">
		<div class="contact-info">
			<div class="phone">
				<div class="label darkblue">CONTACT US</div>
				<div class="value red"><i class="icon ion-ios-telephone"></i> 031-72109633</div>
				<div class="value red"><i class="icon ion-printer"></i> 031-51513199</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>