<div class="content">
	<div class="grid-wrap">
		<div class="grid h1">
			<div class="cc-container bottom-border">
				<div class="head">
					<div>
						<div class="desc-title bottom-border blue">
						KNOWLEDGE ARTICLE
						</div>
						<table>
							<tr>
								<td class="label">
								<fieldset class="fav-article" align="justify">
									<legend><b>Our Technology</b></legend>
									<div style="font-size:14px;">Optimization of the production of sugar and anticipation SNI GKP can be done with the things mentioned ...<a class="blue" ng-click="goTo('voltabio', 'technology')">read more</a></div>
								</fieldset>
								</td>
							</tr>
							<tr>
								<td class="label">
								<fieldset class="fav-article" align="justify">
									<legend><b><span style="color:#ff3e3e;">VOLTABIO</span> Products</b></legend>
									<div style="font-size:14px;">Our <span style="color:#ff3e3e;">VOLTABIO</span> products are truly created with high quality materials and variety of process just to get the best result as a high quality product. For list of our products, you can see it ...<a class="blue" ng-click="goTo('service', 'product')">read more</a></div>
								</fieldset>
								</td>
							</tr>
							<tr>
								<td class="label">
								<fieldset class="fav-article" align="justify">
									<legend><b>Our Services</b></legend>
									<div style="font-size:14px;">Our services aspect are chemical cleaning and coating by using high quality <span style="color:#ff3e3e;">VOLTABIO</span> products ...<a class="blue" ng-click="goTo('service', 'services')">read more</a></div>
								</fieldset>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="grid h1">
			<div class="video-container">
				<section class="video" ng-video>
					<video vi-screen autoplay loop></video>
				</section>
			</div>
		</div>
	</div>
	<div class="grid full h3 bottom-border">
		<div class="slide w1">
			<div class="cc-container">
				<div class="desc-title bottom-border blue">PRODUCT HIGHLIGHT</div>
				<div class="desc-content">
					<img class="slideImg fade" src="img/v_01.jpg">
					<img class="slideImg fade" src="img/v_02.jpg">
					<img class="slideImg fade" src="img/v_03.jpg">
					<button class="bt-left" ng-click="addImg(-1)">&#10094;</button>
					<button class="bt-right" ng-click="addImg(1)">&#10095;</button>
				</div>
			</div>
		</div>
		<div class="desc w2">
			<div class="desc-title bottom-border blue">PRODUCT USAGE</div>
			<div class="desc-content">
				<span style="color:#ff3e3e;">VOLTABIO</span> products are widely used in sugar industries, shipping docks and other industries to help speed up the work, the smooth process of the production and maintenance of machinery/equipment such as industrial auxiliaries in sugar factory processes, materials sanitation, softener ingredients crust/cleaning materials that are "appropriate and tested, safe and friendly environment" at the evaporator, juice heater, boiler, tanks residue, ship decks, generator, motor - electric motors, and so on. Additionally <span style="color:#ff3e3e;">VOLTABIO</span> handle internal boiler water treatment, coatings, process vessels, and electrical protective material of moisture vapor.
			</div>
		</div>
	</div>
	<div class="grid full">
		<div class="contact-info">
			<div class="phone">
				<div class="label darkblue">CONTACT US</div>
				<div class="value red"><i class="icon ion-ios-telephone"></i> 031-72109633</div>
				<div class="value red"><i class="icon ion-printer"></i> 031-51513199</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>