<div class="content">
	<div class="bottom-border">
		<h1 class="blue" style="margin-left:20px;">Legal Aspect</h1>
	</div>
		<h4 style="margin-left:40px;">Here is list of legal that owned by CV. Anugerah Jaya Semesta - <span style="color:#ff3e3e;">VOLTABIO</span></h4>
		<div class="grid-wrap-legal">
			<table style="margin-left:40px;">
				<tr>
					<td width="250px" height="30px">1. Deed of Company Establishment</td>
					<td>: 924/1997</td>
				</tr>
				<tr>
					<td height="30px">2. Company Registration</td>
					<td>: 503/11316.D/436.6.11/2012</td>
				</tr>
				<tr>
					<td height="30px">3. Taxpayer Identification Number</td>
					<td>: 01.822.963.3-618.000</td>
				</tr>
				<tr>
					<td height="30px">4. Taxable Person</td>
					<td>: PEM-00069/WPJ.11/KP.1303/2008</td>
				</tr>
				<tr>
					<td height="30px">5. Certificate of Domicile</td>
					<td>: 500/006/436.11.13.3/2011</td>
				</tr>
				<tr>
					<td height="30px">6. Trading License</td>
					<td>: 503/11082.A/436.6.11/2012</td>
				</tr>
				<tr>
					<td height="30px">7. Certificate of Brands</td>
					<td>: IDM000138236</td>
			</table>
		<div style="padding-left:100px;">
			<img src="img/brand-cert.png" border=1 width="300px"></img>
		</div>
		</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>
