<div class="content">
	<div class="grid banner bottom-border full">
		<h1 style="margin-left:20px;">All About <span style="color:#ff3e3e;">VOLTABIO</span></h1>
			<ul class="volt-sub" style="margin-left:40px;">
				<li class="v-sub" ng-click="content = 'default'"><a style="margin-left: -40px;"><span style="color:#ff3e3e;">VOLTABIO</span> Overview</a></li>
				<li class="v-sub" ng-click="content = 'technology'"><a style="margin-left: -40px;"><span style="color:#ff3e3e;">VOLTABIO</span> Technology</a></li>
			</ul>
	</div>
	<div class="voltabio" ng-show="content == 'default'">
		<h2 align="center" style="margin-top:150px;">The Philosophy</h2>			
		<p align="center">VOLTABIO product is taken from the name of the chemical elements, VOLTA means "rows of chemical elements" and BIO means "life".</p>
		<ul class="timeline">
			<!-- Item 1 -->
			<li>
				<div class="direction-l">
					<div class="flag-wrapper">
						<span class="flag">What is <span style="color:#ff3e3e;">VOLTABIO?</span></span>
						<!--<span class="time-wrapper"><span class="time">2013 - present</span></span>-->
					</div>
					<div class="descript">VOLTABIO is an official trademark for the brand rights with certificate number IDM000138236. VOLTABIO is a multifunctional product and specific product that is reliable and proven quality and can be used by all factory of all kinds of industries. VOLTABIO is brand with specific product and the newest technology. Since 1997  CV. Anugerah Jaya Semesta run its business activities . There have been many companies that given trust and take advantage of our services in the field of chemical coatings maintenance and coating  following some of our client list.</div>
				</div>
				<div class="direction-r">
				<div class="flag-wrapper">
						<span class="flag">Who Created <span style="color:#ff3e3e;">VOLTABIO?</span></span>
						<!--<span class="time-wrapper"><span class="time">2008 - 2011</span></span>-->
					</div>
					<div class="descript">VOLTABIO are trademarks and are owned by CV. Anugerah Jaya Semesta only, to the following address.</div>
				</div>
			</li>
			<!-- Item 2 -->
			<li>
				<div class="direction-l">
					<div class="flag-wrapper">
					<span class="flag">Where Created <span style="color:#ff3e3e;">VOLTABIO?</span></span>
						<!--<span class="time-wrapper"><span class="time">2011 - 2013</span></span>-->
					</div>
					<div class="descript">VOLTABIO is a product in the country, located in the city of Surabaya - Indonesia.</div>
				</div>
				<div class="direction-r">
					<div class="flag-wrapper">
						<span class="flag">When Use <span style="color:#ff3e3e;">VOLTABIO?</span></span>
							<!--<span class="time-wrapper"><span class="time">2011 - 2013</span></span>-->
					</div>
					<div class="descript">Products of VOLTABIO widely used in the sugar industry, the docks shipping industry and other industries. Can be used for food industry or beverages because the product has met the requirement VOLTABIO Food Grade standards for the specialty chemical industry, food or drink.</div>
				</div>
			</li>
			<!-- Item 3 -->
			<li>
				<div class="direction-l">
					<div class="flag-wrapper">
						<span class="flag">Why Use <span style="color:#ff3e3e;">VOLTABIO?</span></span>
						<!--<span class="time-wrapper"><span class="time">2008 - 2011</span></span>-->
					</div>
					<div class="descript">VOLTABIO committed to assist and speed up the work, the smoothness of the process industry, a smooth production process and maintenance industry engines/tools  like process materials such as sanitary materials, plasticizers crust ingredients or cleaning materials that are "appropriate and tested safe and environmentally friendly" as the evaporator, juice heaters, boilers, tanks residue, ship decks, generators, electric motors, and so on. Additionally VOLTABIO handle internal boiler water treatments, coatings, vessel press and electric protective material from water moisture.</div>
				</div>
				<div class="direction-r">
					<div class="flag-wrapper">
						<span class="flag">How to Buy <span style="color:#ff3e3e;">VOLTABIO?</span></span>
						<!--<span class="time-wrapper"><span class="time">2011 - 2013</span></span>-->
					</div>
					<div class="descript">Our customers must not be worried, cause VOLTABIO is trademark brand and always connecting with   technology and also always build innovation along time the time. To buy VOLTABIO products, you can directly contact us by phone, email, or come to our office.</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="voltabio" ng-show="content == 'technology'">
		<ng-include src="'templates/content/voltabio-tech.html'"></ng-include>
	</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>