<div style="padding-right:20px;" class="csr">
	<h2 class="bottom-border blue">CSR (Corporate Social Responsibility)</h2>
	<p>As a good company, we also doing CSR (Corporate Social Responsibility) activity to help each other. Our CSR concepts is a sense of corporate responsibility to the social and environmental surrounding where the company is located. Every 1 Liter of <span style="color:#ff3e3e;">VOLTABIO</span> Products that you've bought, you also contribute donation for orphanage and social activity. Here's some of our CSR documentation.</p>
	<div align="center">
		<img class="csr-act" src="img/csr1.jpg">
		<img class="csr-act" src="img/csr2.jpg">
		<img class="csr-act" src="img/csr3.jpg">
		<img class="csr-act" src="img/csr4.jpg">
	</div>
	<h2 class="bottom-border blue">Awards</h2>
	<p>Our company also get some awards that given by government, our customer and other instance as you can see below.</p>
	<ul>
		<li>Best Supplier from PT. Madu Baru</li>
		<li>Participate in KONGRES X IKAGI 2012, Surabaya</li>
		<li>Participate in "Seminar Nasional Lingkungan Hidup" held by Dewan Lingkungan Hidup & FPLHI, Surabaya</li>
		<li>Participate in "Seminar Nasional Lingkungan Hidup" held by Dewan Lingkungan Hidup & FPLHI, Surabaya</li>
		<li>Participate in Hari Lingkungan Hidup Nasional 2011, Kebun Raya Purwodadi, Pasuruan</li>
		<li>Participate in Hari Lingkungan Hidup Nasional 2012, Batang, Sumenep</li>
	</ul>
	<p>So, our company capability and credibility along with <span style="color:#ff3e3e;">VOLTABIO</span> products are really proven.</p>
	<div>
		<img class="award" src="img/award1.jpg">
		<img class="award" src="img/award2.jpg">
		<img class="award" src="img/award3.jpg">
		<img class="award" src="img/award4.jpg">
		<img class="award" src="img/award5.jpg">
		<img class="award" src="img/award6.jpg">
	</div>
</div>