<div style="padding-right:20px;">
	<h2 class="bottom-border blue">Company History</h2>
	<p>
		Our company was established on July 2, 1997 under the name CV. ANUGERAH JAYA SEMESTA containing a philosophy of "Grace of the Almighty and can continue to thrive together because the universe is supported by horizontal and vertical, where horizontal are supported by our customers, great team work and support  all elements and vertical is support and blessing from god . While the name of VOLTABIO  is taken from the  chemical elements, VOLTA means "rows of chemical elements" BIO means "life".
	</p>
	<p>
		Since then until now, our company business keep growing up along with VOLTABIO products.
	</p>
	<h2 class="bottom-border blue">Company Culture</h2>
	<table>
		<tr>
			<td>-</td>
			<td><b>Customer Satisfaction</b></td>
		</tr>
		<tr  height="30px;">
			<td></td>
			<td>Provide a satisfactory service to its customers</td>
		</tr>
		<tr>
			<td>-</td>
			<td><b>High Performance Production</b></td>
		</tr>
		<tr height="30px;">
			<td></td>
			<td>Finding a solution for smooth and high production performance</td>
		</tr>
		<tr>
			<td>-</td>
			<td><b>High Quality Product</b></td>
		</tr>
		<tr height="30px;">
			<td></td>
			<td>Helping customers to produce high quality products</td>
		</tr>
	</table>
</div>