<h3 class="bottom-border blue">Pabrik Tengah</h3>
<p>Dafar produk yang termasuk dalam kategori Pabrik Tengah.</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 299 Excellent</td>
    <td>Sebagai pelunak kerak Evaporator kerak sisi nira (Ca, Mg) untuk pemakaian rutin</td>
    <td>Evaporator, Pan Masak, Sren-Screen (Saringan)</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 299*</td>
    <td>Efektif sebagai pelunak kerak untuk Shock Dosis (kerak Si, Oksalat, Ca, Mg)</td>
    <td>Evaporator, Pan Masak</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 2779 (Viscosol)</td>
    <td>Sangat efektif sebagai "Penurun Viscositas" dan "Anti Foam"</td>
    <td>Stasiun Masakan</td>
    <td>Pail (25 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 805 AF</td>
    <td>Sangat efektif khusus Anti Foam</td>
    <td>Peti Strop, Peti Tetes, St. Pemurnian</td>
    <td>Pail (25 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 2710</td>
    <td>Hanya sebagai Viscositas Reducer (Penurun Viscositas)</td>
    <td>Stasiun Masakan</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 1289 DC</td>
    <td>Bahan untuk "Bleaching" sekaligus mengurangi pemakaian belerang dan anti viscos</td>
    <td>Masakan, Nira Kental, Nira Mentah, Nira Encer</td>
    <td>Pail (25 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 8889 (Silica Remover)</td>
    <td>Untuk membersihkan kerak air yang mengandung Silikat, Oksalat sekaligus sebagai Shock Dosis (DMG dan LMG)</td>
    <td>Evaporator sisi Nira</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 8983 (OH) Steam Side Cleaner</td>
    <td>Untuk membersihkan kerak "Sisi Uap" dengan sistem dingin</td>
    <td>Evaporator, Pan Masak</td>
    <td>Pail (25 ltr)</td>
  </tr>
</table>