<div style="margin-left:20px;">
	<h2 class="blue">Products</h2>
	<p style="margin-right:10px;">Our <span style="color:#ff3e3e;">VOLTABIO</span> products are truly created with high quality materials and variety of process just to get the best result as a high quality product. For list of our products, you can see it below, divided by each category station/industry aspect (menu on the left side).</p>
</div>
<div class="grid w1">
	<ul class="product-menu">
		<li class="list-cp bottom-border" ng-click="content = 'gilingan'"><a class="link-cp">Gilingan</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'pabriktengah'"><a class="link-cp">Pabrik Tengah</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'limbah'"><a class="link-cp">Limbah</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'boiler'"><a class="link-cp">Ketel/Boiler</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'coating'"><a class="link-cp">Coating</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'putaran'"><a class="link-cp">Putaran</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'loko'"><a class="link-cp">Loko</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'besali'"><a class="link-cp">Besali</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'umum'"><a class="link-cp">Umum</a></li>
		<li class="list-cp bottom-border" ng-click="content = 'listrik'"><a class="link-cp">Listrik</a></li>
	</ul>
</div>
<div class="list-produk grid w2">
	<div ng-show="content == 'gilingan'">
		<h3 class="bottom-border blue">Gilingan</h3>
		<p>Daftar produk yang termasuk dalam kategori Gilingan.</p>
		<table class="produk-det" cellpadding=5 style="margin-right:10px;">
		  <tr>
			<th width="25%">Produk</th>
			<th width="35%">Keuntungan &amp; Keunggulan</th>
			<th width="18%">Aplikasi</th>
			<th width="17%">Satuan</th>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 2219</td>
			<td>Sebagai disinfektan sanitasi gilingan (perfentive). Diaplikasikan secara continued dengan cara diteteskan</td>
			<td>Stasiun Gilingan</td>
			<td>Pail (25 ltr)</td>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 2303</td>
			<td>Sebagai biocide sanitasi pendamping <span style="color:#ff3e3e;">VOLTABIO</span> 2219. Diaplikasikan secara discontinued dengan cara di spray</td>
			<td>Stasiun Gilingan</td>
			<td>Pail (25 ltr)</td>
		  </tr>
		  <tr>
			<td>ENZIM <span style="color:#ff3e3e;">VOLTABIO</span> PB-E99</td>
			<td>Menghidrolisis &amp; Memecah POLISACHARIDA dengan cepat</td>
			<td>Nira Perahan Pertama St. Gilingan</td>
			<td>Drum (200 kg)</td>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 7996 <br />(Anti Seize Compound)</td>
			<td>Prefentive untuk mempermudah membuka baut supaya baut tidak berkarat</td>
			<td>Baut</td>
			<td>Pail (2 kg)</td>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 7990 <br />(Screw Penetrant)</td>
			<td>Curative untuk mempermudah membuka baut</td>
			<td>Baut</td>
			<td>Box (12 cans)</td>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 2000 <br /> (Chain Lubricant)</td>
			<td>Melumasi Pen pada rantai agar tidak mudah putus pada saat operasional</td>
			<td>Pen pada Rantai</td>
			<td>Pail (25 ltr)</td>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 7994 <br /> (Voltasteel)</td>
			<td>Mengisi/Menambal pen/rantai supaya tidak kendur saat operasional</td>
			<td>Rantai</td>
			<td>Set (1 kg)</td>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 9994 <br /> (Prime Coat Res-Acidadb Hg)</td>
			<td>Primer untuk melapisi bawah gilingan sebagai pencegah timbulnya bakteri Destran &amp; lumut</td>
			<td>Gilingan</td>
			<td>Pail (20 kg)</td>
		  </tr>
		  <tr>
			<td><span style="color:#ff3e3e;">VOLTABIO</span> 9999</td>
			<td>Top Coat untuk melapisi bawah gilingan sebagai pencegah timbulnya bakteri Destran &amp; Lumut</td>
			<td>Gilingan</td>
			<td>Pail (20 kg)</td>
		  </tr>
		</table>
	</div>
	<ng-include src="'templates/content/serv-pabriktengah.html'" ng-show="content == 'pabriktengah'"></ng-include>
	<ng-include src="'templates/content/serv-limbah.html'" ng-show="content == 'limbah'"></ng-include>
	<ng-include src="'templates/content/serv-boiler.html'" ng-show="content == 'boiler'"></ng-include>
	<ng-include src="'templates/content/serv-coating.html'" ng-show="content == 'coating'"></ng-include>
	<ng-include src="'templates/content/serv-putaran.html'" ng-show="content == 'putaran'"></ng-include>
	<ng-include src="'templates/content/serv-loko.html'" ng-show="content == 'loko'"></ng-include>
	<ng-include src="'templates/content/serv-besali.html'" ng-show="content == 'besali'"></ng-include>
	<ng-include src="'templates/content/serv-umum.html'" ng-show="content == 'umum'"></ng-include>
	<ng-include src="'templates/content/serv-listrik.html'" ng-show="content == 'listrik'"></ng-include>
</div>