<h3 class="bottom-border blue">Limbah</h3>
<p>Daftar produk yang termasuk dalam kategori/stasiun penanggulangan limbah</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td rowspan="3"><span style="color:#ff3e3e;">VOLTABIO</span> 1087</td>
    <td>Sebagai Absorben bau limbah dan Stabilizer Standart BOD</td>
    <td rowspan="3">Limbah Selokan dan Limbah Input (Sebelum Aerasi)</td>
    <td rowspan="3">Pail (25 ltr)</td>
  </tr>
  <tr>
    <td>* Secara continue/rutin diteteskan pada limbah selokan-selokan, limbah input (sebelum Aerasi)</td>
  </tr>
  <tr>
    <td>* Secara discontinue/terputus dapat disempotkan pada limbah selokan-selokan, limbah input (sebelum Aerasi)</td>
  </tr>
</table>