<div style="margin-left:20px; margin-right:10px;"align="justify">
	<h2 class="blue">Services</h2>
	<p>Our service aspects are chemical cleaning and coating by using high quality <span style="color:#ff3e3e;">VOLTABIO</span> products.</p>

	<h3 class="bottom-border">Chemical Cleaning by <span style="color:#ff3e3e;">VOLTABIO</span></h3>
	<p>The two major categories of chemical cleaning are pre-operational chemical cleaning—part of pre-commissioning or commissioning activities—and post-operational or maintenance chemical cleaning—part of regular shut down work.</p>
	<p>Pre-operational chemical cleaning is performed to remove any foreign material remaining from the construction activities either on the pipe or system fabrication. Major considerations in the pre-operational phase include mill scale, corrosion products, weld scale, oil, grease, sand, dirt, temporary protective coatings, and other construction debris.</p>
	<p>Post-operational cleaning is performed for a number of reasons, including reduced heat transfer, reduced flow, safety (e.g., H2S, pyrophoric iron, LELs, ammonia, etc.), reduced surface area (e.g., catalyst), access to full inspection, and more. The type and frequency of post-operational cleaning varies with system design, operating requirements, and history of operation and fluid/water treatment.</p>

	<h3 class="bottom-border">Coating by <span style="color:#ff3e3e;">VOLTABIO</span></h3>
	<p>A coating is a covering that is applied to the surface of an object, usually referred to as the substrate. The purpose of applying the coating may be decorative, functional, or both. The coating it self may be an all-over coating, completely covering the substrate, or it may only cover parts of the substrate. Functional coatings may be applied to change the surface properties of the substrate, such as adhesion, wetability, corrosion resistance, or wear resistance</p>
	<p>The Benefits of Coating:</p>
		<li>Protect the paint coating equipment with perfectly absorbing into the pores of the paint.</li>
		<li>Having a hard coating and has a long durability</li>
		<li>Maintain your equipment to keep paint gloss / shine in a very long time</li>
		<li>Protect your equipment from acid rain, rust, and other porous another</li>
		<li>Anti-UV, are more resistant to extreme weather</li>
		<li>It has a self-cleaning properties so easy to clean. Scratch-resistant is quite good</li>
		<li>Effect of water-repellent</li>
	<p>Over 20 years of Chemical Cleaning and Coating experience enables CV. ANUGERAH JAYA SEMESTA - <span style="color:#ff3e3e;">VOLTABIO</span> to offer best-in-class technology for preoperational, operational and decommissioning operations in the petrochemical, refining, utility and process industries. Minimizing both downtime and environmental impact are critical to achieving cost-effective cleaning operations.   CV. ANUGERAH JAYA SEMESTA - <span style="color:#ff3e3e;">VOLTABIO</span>'s methods dramatically reduce waste volume and cleaning time when compared to traditional multi-fill Cleaning and Coating methods.</p>
	<div class="w2" style="margin:auto;">
		<img src="img/serv1.jpg"></img>
		<img src="img/serv2.jpg"></img>
		<img src="img/serv3.jpg"></img>
		<br />
		<img src="img/serv4.jpg" style="margin-left:45px;"></img>
		<img src="img/serv5.jpg"></img>
		<img src="img/serv6.jpg"></img>
	</div>
</div>