<h3 class="bottom-border blue">Ketel/Boiler</h3>
<p>Daftar produk yang termasuk dalam kategori Ketel/Boiler</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 697 B</td>
    <td rowspan="2">Paket Internal Treatment pada boiler Sebagai:<br />* Ph Booster <br />* Pengikat kerak agar kerak Ca, Mg, Si tidak menempel<br />* Oxygen Scavengers untuk mencegah Pitting Corossion<br />* Pencegah terjadinya Foam<br />* Dispersant agar endapan tetap berbentuk suspensi</td>
    <td rowspan="2">Ketel/Boiler</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 696 B</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> Boiler Cleaner 409 (BC)</td>
    <td>Menghilangkan/melarutkan kerak air yang mengandung kerak Ca &amp; Mg</td>
    <td>Ketel/Boiler</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 8980<br />(Silica Remover)</td>
    <td>Menghilangkan/melarutkan kerak air yang mengandung kerak Sylicate</td>
    <td>Ketel/Boiler</td>
    <td>Pail (25 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9197<br />(Hi-Temp Coat)</td>
    <td>Coating khusus yang tahan temperatur tinggi (200-300 derajat Celsius), fleksibel, daya rekat sangat kuat</td>
    <td>Boiler, Diesel, Oven Cerobong Knalpot</td>
    <td>Pail (20 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9996 <br />(Hi-Temp Coat Colour)</td>
    <td>Coating khusus yang tahan temperatur tinggi (100-200 derajat Celsius), fleksibel, daya rekat sangat kuat</td>
    <td>Steam Drum Boiler &amp; Body Boiler</td>
    <td>Pail (20 kg)</td>
  </tr>
</table>