<h3 class="bottom-border blue">Listrik</h3>
<p>Daftar produk yang termasuk dalam kategori Listrik</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9987<br />(Red Transparant Insuliting Varnish)</td>
    <td>Varnish yang tahan getaran dan daya lekat sangat kuat untuk melindungi, mengisolasi peralatan listrik dari kelembaban udara laut, uap bahan kimia, minyak - dapat digunakan sebagai emergency karena cepat kering dan tidak perlu di oven</td>
    <td rowspan="5" align="center">Generator</td>
    <td>Pail (20 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 8982<br />(Generator Cleaner/EMC)</td>
    <td>Untuk menghilangkan &amp; membersihkan kotoran gemuk &amp; minyak pada peralatan listrik</td>
    <td>Pail (20 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 8987<br />(Paint Remover)</td>
    <td>Bahan untuk mempercepat pelepasan lak/varnish dari Epoksi, Silikon, Melamin tanpa harus merusak peralatan</td>
    <td>Pail (20 ltr)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 979<br />(Electro Contact Cleaner)</td>
    <td>Membersihkan gemuk, minyak dan kotoran pada peralatan listrik/elektronik yang sensitif</td>
    <td>Pail (20 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 7992<br />(Watdisp &amp; Protector)</td>
    <td>Untuk melindungi sekaligus melapisi peralatan listrik dari kelembaban uap kimia dan air</td>
    <td>Pail (20 ltr)</td>
  </tr>
</table>