<h3 class="bottom-border blue">Coating</h3>
<p>Daftar produk yang termasuk dalam kategori Coating</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9994</td>
    <td>Lapisan dasar sekaligus sebagai Derust Conditioner</td>
    <td rowspan="2">Tangki Tetes, Evaporator, Condensor, Peti-peti (Coating bagian dalam)</td>
    <td rowspan="2">Pail (20 kg/set)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9999</td>
    <td>Lapisan atas/Top Coat</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9995</td>
    <td rowspan="2">Coating yang tahan temperatur 100-200 derajat Celsius, daya lekatnya sangat kuat, pori-pori sangat rapat sehingga metal tidak keropos</td>
    <td rowspan="2">Boiler, Diesel, Oven, Cerobong Knalpot</td>
    <td rowspan="2">Pail (20 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9996 (Colour)</td>
  </tr>
</table>