<h3 class="bottom-border blue">Besali</h3>
<p>Daftar produk yang termasuk dalam kategori Besali</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 7993</td>
    <td>Melumasi mata bor agar tidak mudah putus</td>
    <td></td>
    <td>Pail (20 ltr)</td>
  </tr>
</table>