<h3 class="bottom-border blue">Umum</h3>
<p>Daftar produk yang termasuk dalam kategori Umum.</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 8982</td>
    <td>Sangat efektif membersihkan dan menghilangkan kotoran-kotoran gemuk dan minyak residu</td>
    <td rowspan="2" align="center">Tangki Residu</td>
    <td>Pail (20 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 9996</td>
    <td>Melapisi tangki air, tangki tetes bagian luar &amp; tangki residu bagian luar</td>
    <td>Pail (20 kg)</td>
  </tr>
</table>