<h3 class="bottom-border blue">Putaran</h3>
<p>Daftar produk yang termasuk dalam kategori putaran</p>
<table class="produk-det" cellpadding=5 style="margin-right:10px;">
  <tr>
	<th width="25%">Produk</th>
	<th width="35%">Keuntungan &amp; Keunggulan</th>
	<th width="18%">Aplikasi</th>
	<th width="17%">Satuan</th>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 7997<br />(H-RPM Grease)</td>
    <td>Untuk melumasi Sheker &amp; Bearing</td>
    <td>Putaran</td>
    <td>Pail (20 kg)</td>
  </tr>
  <tr>
    <td><span style="color:#ff3e3e;">VOLTABIO</span> 7996<br />(Anti Seize Compound)</td>
    <td>Prefentive untuk mempermudah membuka baut dan supaya baut tidak berkarat</td>
    <td>Baut</td>
    <td>Tin (2 kg)</td>
  </tr>
</table>