	
	<h2 align="center" style="margin-top:150px;"><span style="color:#ff3e3e;">VOLTABIO</span> Technology</h2>
	<div class="full" align="center">
		<img src="img/volt-tech.png" width="640px;"></img>
	</div>
	<div style="margin-left:20px;margin-right:10px;" align="justify">
		<p>The Indonesia Cabinet II launched a united national
         strategic programs, revitalization Sugar Industry to achieve
         "SWASEMBADA" of sugar. As a self-evaluation, Indonesia at the time of
         Dutch rule in the 1940s is an exporter of sugar to two in the world, now become
         the number two importer after Russia. Very ironic, existing best practice in
         the reign of the Dutch lost along with the departure of the practitioners or
         even the absence of a successor of the caliber of the Dutch researchers, such
         as Noel Derr and Hommes. On the other side of concern (on-farming) number of
         productive sugarcane land on the island of Java is now on the wane because of
         claims to real estate, in addition to drastically reduced land productivity. Although the current reality and optimistic attitude, CV.
         AJS-<span style="color:#ff3e3e;">VOLTABIO</span> participate sugar production optimization to improve process
         efficiency and increased productivity in support of government programs for
         "SWASEMBADA" of sugar and even if it may be a surplus of sugar in the
         future as in the heyday of the past. Why should a surplus of sugar? addition to
         fulfilling the needs of their own (swasembada), the demands of the world to
         search for chemical and bio-energy sugars from plant materials, such as
         bioethanol, glutamic acid, acetone, butanol, etc so make the sugar industry
         more strategic. This means that the sugar mills should further optimize the
         production process of sugar/factory and of course leads to high productivity. On the other hand, the challenge of a high quality of life
         requires GKP quality should be better than in the past and has been in the news
         with increasing the standartd GKP to make revisions. Anticipation Revision GKP
         is necessary and for the CV. AJS-<span style="color:#ff3e3e;">VOLTABIO</span> continue to conduct research on the
         development of industrial process technology. Modification process/retorfitting double sulfitation
         process "to" Sulfitation process Modified by <span style="color:#ff3e3e;">VOLTABIO</span> with the goal
         of improving the productivity of white sugar (GKP) 2-3% due to an increase in
         effective yield of sugar so that the optimization can be done. Improvement of production quality white sugar (GKP) to
         anticipate Revision, ICUMSA = 55 IU and the SO2 content of &lt;30 ppm, the
         efficiency of the use of eduction in sulfur (S) 30-50%. With this modified process, <span style="color:#ff3e3e;">VOLTABIO</span> can provide the
         optimal GKP production quantity and quality.</p>
		 <p>In short, optimization of the production of sugar and
         anticipation SNI GKP can be done with the things mentioned above are concrete
         with "Single sulfitation Modified by <span style="color:#ff3e3e;">VOLTABIO</span>" The meaning of "Single sulfitation Modified by
         <span style="color:#ff3e3e;">VOLTABIO</span>" is the process of adding sulfur at first stasiun after PP I, but
         for the Optimal production in quality and quantity need to modify in "a
         material" begin from improved factory efficiency at St. Rolling pin, St.
         Purification and viscous sap sulfitir tank with <span style="color:#ff3e3e;">VOLTABIO</span> 2303
         Biocide FG, <span style="color:#ff3e3e;">VOLTABIO</span> 2219 Des FG, HT-001 Surf FG applied at rolling pin and vacuum
         filters and <span style="color:#ff3e3e;">VOLTABIO</span> 079 while the soiled sap and <span style="color:#ff3e3e;">VOLTABIO</span> 2289 FG given to
         tank sulfitir. <span style="color:#ff3e3e;">VOLTABIO</span> 079 FG has been tested at a dose of 10-20 ppm gave excellent results such as lower
         conductivity of clear juice is reduce levels of CaO / Bx dissolved in the clear juice was 0.84 ppm/Bx and lower
         turbidity in the clear juice of points. Sulfitation viscous sap modified by the
         addition of anti-colorant (compound color remover), <span style="color:#ff3e3e;">VOLTABIO</span> 2289 FG in the sulfitir tank by means of the injection of anti-colorant through the pump to
         obtain a dose smaller than ICUMSA. Furthermore, the levels of sulfite (SO2) in GKP
         will drop dramatically and the use of sulfur daoat down and "Variety/Range" color small sugar solution. Not like double sulfitation process
         that gives "variation/range" color sugar solution is very high. Please note that using the "Single sulfitation Modified
         by <span style="color:#ff3e3e;">VOLTABIO</span>" still allows use to process sugar without a large investment
         in equipment or process changes.</p>
         
        <p>It can be concluded the benefits "Single sulfitation
         Modified by <span style="color:#ff3e3e;">VOLTABIO</span>" are :</p>
		<ul>
			<li>Optimizing the performance of sugar production in quality
				and quantity due to an increase in active recovery.</li>
			<li>Reducing the levels of SO2</li>
			<li>Lower levels of CaO / Bx</li>
			<li>Variations/span small sugar solution</li>
			<li>Not required investment tool with high costs.</li>
		</ul>
		<p><span style="color:#ff3e3e;">VOLTABIO</span> very welcome  to provide sharing and ready to work with the
         parties to the need sugar in order to optimize performance efficiency and
         increased productivity in the sugar factory, in particular to support the
         Swasembada targets sugar and sugar surplus in Indonesia, which would restore
         the glory of Indonesia in the past.</p>
	</div>